{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div id="news" class="g-fullwidth bluegray-700"><div class="g-pagewidth">

  <article{{ attributes.addClass('layout') }}>

    <div class="main width-75 bluegray-600">
      {# title #}
      {{ title_prefix }}
      {% if not page %}
        <h1{{ title_attributes.addClass('full-width bluegray-400 text-bluegray-200 txt-center') }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h1>
      {% else %}
        <h1{{ title_attributes.addClass('full-width bluegray-400 text-bluegray-200 txt-center') }}>{{ label }}</h1>
      {% endif %}
      {{ title_suffix }}
      {# /title  #}

      {# <div{{ content_attributes.addClass('node__content') }}></div> #}
      {# {{ kint(content) }} #}
      {{ content.field_teaser }}

      {{ content.field_image }}

      {# Print out only the content.field_text + whatever else is gonna be added #}
      {{ content|without('links','comment','field_image','field_images','field_sidebar','field_tags','field_teaser', 'field_icons' ) }}

      {# hide the comments for now #}
      {# {{ content.comment }} #}

    </div>
    <div class="sidebar width-25 bluegray-800">

      {# Author #}
      {% if display_submitted %}
        <footer class="node__meta">
        {# todo add in multople #}
        {{ author_picture }}

        <div{{ author_attributes.addClass('txt-white txt-center') }}>
          {{ node.createdtime|date("m.d Y") }}
          {{ author_name }}
          {{ metadata }}
        </div>
        </footer>
      {% endif %}

      {{ content.getCreatedTime() }}

      {{ content.field_icons }}

      <div class="full-width bluegray-900 text-bluegray-600">
        {{ content.field_sidebar }}
      </div>

      {{ content.field_images }}


    </div>

  </article>

</div></div>



